<div id="video-player-div" [hidden]="file == null">
	<div class="button-row">
		<button mat-raised-button selected id="original-button">Original video</button>
		<button mat-raised-button id="processed-video">Processed video</button>
		<button mat-raised-button (click)="deleteFile()" id="new-video">Select new video</button>
	</div>
	<video id="video-player" width="640" height="480" controls>
	</video>
</div>

<div id="video-selector" class="container" appDnd [hidden]="file != null">
	<input
		type="file"
		accept="video/mp4,video/x-m4v,video/*"
		#fileDropRef
		id="fileDropRef"
		multiple
		(change)="fileBrowseHandler($event)"
	/>
	<img src="assets/img/ic-upload-file.svg" alt="" />
	<h3>Drag and drop video here</h3>
	<h3>or</h3>
	<label for="fileDropRef">Browse for video</label>
</div>
