.container {
  width: 450px;
  height: 200px;
  padding: 2rem;
  text-align: center;
  border: dashed 1px #979797;
  position: relative;
  margin: 0 auto;
}

.container input {
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.container label {
  color: white;
  width: 183px;
  height: 44px;
  border-radius: 21.5px;
  background-color: #369;
  padding: 8px 16px;
}

.container h3 {
  font-size: 20px;
  font-weight: 600;
  color: #38424c;
}

#video-selector {
  margin-top: 5rem;
}

#video-player {
  box-shadow: 1px 1px 2px black, 0 0 10px black;
  display: block;
  margin: 15px auto 0 auto;
}

#video-player-div {
  margin-top: 2em;
}

.button-row {
  display: table-cell;
  width: 490px;
  margin: auto;
  margin: auto;
  display: flex;
}

.mat-button-base {
  margin: 8px auto;
  align-items: center;
  justify-content: center;
  color: #369;
}

button[selected] {
  border: 2px solid #369;
}

#new-video {
  background-color: #B22222;
  color: white;
}