<div id="video-player-div" [hidden]="file == null">
	<div class="button-row">
        <button  type="button" 
            class="btn btn-primary" 
            data-bs-toggle="button" 
            autocomplete="off" 
            id="original-button">
            Original video
        </button>
        <button type="button" 
            class="btn btn-primary active" 
            data-bs-toggle="button" 
            autocomplete="off" 
            aria-pressed="true">
            Processed video
        </button>
		<button type="button" 
            class="btn btn-primary"
            id="new-video">
            Select new video
        </button>
	</div>
	<video id="video-player" width="640" height="480" controls></video>
</div>