<div id="video-player-div">
	<div id="button-row">
        <button  type="button" 
            class="btn btn-outline-primary" 
            data-bs-toggle="button" 
            autocomplete="off" 
            id="original-video"
            class="control-button">
            Original video
        </button>
        <button type="button" 
            class="btn btn-outline-primary active" 
            data-bs-toggle="button" 
            autocomplete="off" 
            aria-pressed="true"
            id="processed-video"
            class="control-button">
            Restart video
        </button>
		<button type="button" 
            class="btn btn-danger"
            id="new-video"
            class="control-button">
            Select new video
        </button>
	</div>
	<video id="video-player" width="640" height="480" controls></video>
    <img id="processed-player" src="{{ url_for('video_feed') }}" width="640" height="480">
</div>